$light-color: #cfcdcd;

.content {
  padding-top: 30px;
  .top {
    padding-left: 2px;
    .weekday {
      color: $light-color;
      font-size: 25px;
    }
    .date {
      color: $light-color;
      transform: translateY(-5px);
    }
  }
}

.bottom {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.weather-prediction {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 90px;
  border-radius: 18px;
  background: #227BCC;
  box-shadow: 0 0 15px 0 rgb(94, 87, 234);


  img {
    width: 70px;
  }

  p {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  p.celcius {
    font-size: 25px;
    text-align: center;
  }
}