$responsive-screen-width: 900px;

h1 {
  padding-left: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  height: 100vh;
}

.mid {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 40px;
}

.left {
  width: 35%;
  height: 50vh;
}

@media screen and (max-width: calc($responsive-screen-width + 210px)) {
  .mid {
    flex-direction: column-reverse;
    gap: 60px;
    height: 200vh;
  }

  .left, .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left {
    width: calc(100vw - 360px);
    flex-direction: column;
    align-items: center;
    text-align: center;    
    pre {
      width: 100%;
      height: 100%;
      code {
        width: calc(100vw - 360px);
      }
    }

  }

}

@media screen and (max-width: calc($responsive-screen-width)) {
  .mid {
    flex-direction: column-reverse;
    align-items: center;
    gap: 60px;
    height: 200vh;
  }

  .left, .right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left {
    flex-direction: column;
  
    pre {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      code {
        width: 90vw;
      }
    }
  }
}


code {
  height: 50vh;
  border-radius: 15px;
  overflow: scroll;
}

.right {
  width: 65%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right img {
  width: 56%;
  border-radius: 10px;
  transition: all ease-in-out .3s;
  &:hover {
    width: calc(56% + 10px);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 57%;
  .button {
    padding-top: 20px;
    button {
      padding: 10px;
      width: 150px;
      height: 45px;
      border-radius: 30px;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      transition: transform ease-in-out .3s;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
      &:hover {
        transform: translateY(-10px);
      }
    }

}
}