<div class="wrapper">
  <div class="sidebar menü ivan-menü dark">
    <div class="inner-content">
      <div class="top">
        <div class="img-wrapper">
          <img src="../assets/github-laptop.png" alt="">
        </div>
      </div>
      <div class="mid">
        <ul class="items">
          <li [ngClass]="{'active': ngClasses.home.active}">
            <i class="fa fa-home" aria-hidden="true"></i>
            <p>Home</p>
          </li>
          <li>
            <i class="fa-solid fa-laptop-code" [ngClass]="{'active': ngClasses.portfolio.active}"></i>
            <p>Portfolio</p>
          </li>
          <li>
            <i class="fa-solid fa-circle-user" [ngClass]="{'active': ngClasses.ich.active}"></i>
            <p>Ich</p>
          </li>
          <li (click)="redirectToGithub()">
            <img src="../assets/github-logo-rounded.png" alt="">
            <p>Github</p>
          </li>
        </ul>
      </div>
      <div class="btm">
        <p>Alle Projekte <br> im <b>Überblick!</b></p>
      </div>
    </div>
  </div>

  <div class="right-content">
    <router-outlet></router-outlet>
  </div>

</div>