<div class="wrapper">
  <div class="sidebar menü ivan-menü dark">
    <div class="inner-content">
      <div class="top">
        <div class="img-wrapper">
          <img src="../assets/github-laptop.png" alt="">
        </div>
      </div>
      <div class="mid">
        <ul class="items">
          <li [ngClass]="{'active': ngClasses.home.active}" (click)="navigateToHome()">
            <i class="fa fa-home" aria-hidden="true"></i>
            <p>Home</p>
          </li>
          <li [ngClass]="{'active': ngClasses.portfolio.active}" (click)="navigateToPortfolio()">
            <i class="fa-solid fa-laptop-code"></i>
            <p>Portfolio</p>
          </li>
          <li [ngClass]="{'active': ngClasses.ich.active}" (click)="navigateToIch()">
            <i class="fa-solid fa-circle-user"></i>
            <p>Ich</p>
          </li>
          <li (click)="redirectToGithub()">
            <img src="../assets/github-logo-rounded.png" alt="">
            <p>Github</p>
          </li>
        </ul>
      </div>
      <div class="btm">
        <p>Alle Projekte <br> im <b>Überblick!</b></p>
      </div>
    </div>
  </div>

  <div class="right-content">
    <div class="settings">
      <div class="btn">
        <i class="fas fa-gear "></i>
      </div>
      <div class="content">
        <div class="colors">
          <div class="color red"></div>
          <div class="color green"></div>
          <div class="color blue"></div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

</div>