<div class="content-wrapper">
  <div class="cols">
    <div class="col">
      <div class="title">
        <h1>
          Nicht Erledigt
        </h1>
      </div>
      <div class="body">
        <div class="todo">
          <div class="left">
            <p>{{"already done"}}</p>
          </div>
          <div class="right">
            <div class="finished btn-custome">
              <span class="material-symbols-outlined">
                done
              </span>
            </div>
            <div class="delete btn-custome">
              <span class="material-symbols-outlined">
                close
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="title">
        <h1>
          Erledigt
        </h1>
      </div>
      <div class="body">
        <div class="todo">
          <div class="left">
            <p>{{"Have to be done"}}</p>
          </div>
          <div class="right">
            <div class="finished btn-custome">
              <span class="material-symbols-outlined">
                done
              </span>
            </div>
            <div class="delete btn-custome">
              <span class="material-symbols-outlined">
                close
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="title">
        <h1>
          Gelöscht
        </h1>
      </div>
      <div class="body">
        <div class="todo line-trough">
          <div class="left">
            <p>{{"deleted"}}</p>
          </div>
          <div class="right">
            <div class="restore btn-custome">
              <span class="material-symbols-outlined">
                restore
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>