.content-wrapper {
  width: min(80vw, 900px);
}

.cols {
  display: flex;
  border: 2px solid rgb(92, 92, 92);
  * {
    overflow: hidden;
  }

  .title {
    border-bottom: 1px solid rgb(92, 92, 92);
    margin-bottom: 5px;
    h1 {
      font-size: 20px;
      margin: 0;
      padding: 0;
      padding-bottom: 2px;
    }
  }
  .col {
    &:not(:last-child) {
      border-right: 2px solid rgb(92, 92, 92);
    }
  }
}

.cols {
  width: 100%;
  position: relative;
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0;
    span {
      cursor: pointer;
      box-shadow: 0 0 3px 0 black;
    }
    .delete span {
      color: rgb(241, 53, 15);
    }
    .finished span {
      color: rgb(14, 190, 14);
    }

    .restore span {
      color: rgb(113, 11, 221);
    }

    .right {
      display: flex;
      overflow: visible;
    }
  }

  .todo.line-trough {
    .left {
      text-decoration: line-through;
    }
  }

  .btn-custome span{
    border: 1px solid rgb(60, 60, 60);
    margin: 5px;
    
  }
   
}