<div class="row">
  <div class="info-wrapper">
    <p>
      <a class="btn btn-warning" data-toggle="collapse" href="#collapseTools" role="button" aria-expanded="true"
        aria-controls="collapseTools">
        Tools
      </a>
    </p>
    <div class="collapse" id="collapseTools">
      <div class="card card-body">
        In diesem Projekt wurden folgende Tools benutzt: <br>
        <b> Angular, Typescript, HTML, SCSS, BootStrap </b>
      </div>
    </div>
  </div>
  <div class="info-wrapper">
    <p>
      <a class="btn btn-warning" data-toggle="collapse" href="#collapseGithub" role="button" aria-expanded="true"
        aria-controls="collapseGithub">
        Github
      </a>
    </p>
    <div class="collapse" id="collapseGithub">
      <div class="card card-body">
        Schaue dir den Quellcode an:<br>
        <b><a href="https://github.com/ivopacak/Portfolio/tree/master/Frontend-Projekte/Angular/3-cols-todo"
            target="_blank">Github</a></b>
      </div>
    </div>
  </div>
</div>

<div class="row ml-1">
  <div class="col-md-4 row">
    <div class="card col ml-2">
      <div class="card-body">
        <h5 class="card-title">Erledigt</h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
            style="width: 90%;">92%</div>
        </div>
      </div>
    </div>
    <div class="card col ml-2">
      <div class="card-body">
        <h5 class="card-title">Noch zu tun</h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
            style="width: 90%;">10%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="todo-content col-md-4">
    <app-todo-content></app-todo-content>
  </div>
</div>