<div class="info-wrapper">
  <p>
    <a class="btn btn-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
      aria-controls="collapseExample">
      Tools
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      In diesem Projekt wurden folgende Tools benutzt: <br>
      <b> Angular, Typescript, HTML, SCSS, BootStrap </b>
    </div>
  </div>
</div>

<div class="info-wrapper">
  <p>
    <a class="btn btn-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
      aria-controls="collapseExample">
      Github
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Schaue dir den Quellcode an:<br>
      <b><a href="">Github</a></b>
    </div>
  </div>
</div>