/*Basic setup*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: #212529;
  color: #e9ecef;
}

/*HEADER*/

.logo{
  padding-left: 3vw;
  padding-top: 2vh;
}

/*HEADER RESPONSIVE*/
@media screen and (max-width: 530px){
  .logo{
    text-align: center;
  }
}

/*MAIN*/
.main{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  gap: 2vw;
}

.slogan-image{
  text-align: center;
  padding-left: 20px;
}

.slogan{
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.slogan p {
  background: #495057;
  max-width: 25vw;
  font-size: auto;
}

.next-btn button, .translate-btn button{
  width: 25vw;
  height: 6vh;
  cursor: pointer;
}

.dog-img{
  width: 15vw;
  max-height: 35vh;
}

/*MAIN RESPONSIVE*/
@media screen and (max-width: 800px){
  .main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .slogan-image{
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 0px;
  }

  .slogan-image img{
    width: 60vw;
    padding-top: 50px;
  }

  .slogan{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 60vw;
  }
  .slogan p {
    max-width: 60vw;
    width: 60vw;
  }

  .next-btn button, .translate-btn button{
    width: 60vw;
  }
}