@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    color: white;
}

body {
    overflow-x: hidden;
}

header {
    background: rgba(0, 0, 0, .35);
    width: 100vw;
    height: 100vh;
    position: absolute;
    color: #fff
}

.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.background img {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.header-title .left {
    font-size: 6vh;
    font-weight: 450;
    padding: 25px;
}

.header-title {
    display: flex;
    justify-content: space-between;
}

.header-title .right {
    padding: 20px;
}

.header-title>.right img {
    width: 6vh;
}

.header-title .mid {
    font-size: 5vh;
    font-weight: 450;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*MAIN*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*PROZENT-BALKEN*/

.progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    height: 50vh;
    width: 100vw;
    color: white;
    z-index: 10;
}

.progress-bar {
    width: 50%;
    background: #0389a4;
    border-radius: 20px;
}

@media (min-width: 1200px) {
    .progress-bar {
        width: 30%;
    }
}

.progress-target {
    font-weight: 700;
    color: white;
    z-index: 10;
}

.percent-bar {
    background: #00b4d8;
    width: 70%;
    border-radius: 20px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
}

.percent-bar b {
    font-size: 17px;
    margin-right: 10px;
    z-index: 10;
}


/*INFO-box*/

.infos {
    top: 38%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.info {
    margin-bottom: 20vh;
    background: #191A19;
    width: 30vw;
    height: 30vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 3vw;
    text-align: center;
    flex-wrap: wrap;
}

.info-number {
    font-size: 7vh;
    z-index: 10;
}

.info-description {
    font-size: 2.3vh;
    z-index: 10;
}

.begin-now {
    z-index: 11;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 75%;
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 7px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.7) 0 3px 5px, rgba(45, 35, 66, 0.6) 0 7px 13px -3px, #D6D6E7 0 -4px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 2vw 8vw 2vw 8vw;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-5px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(5px);
}